<h3><%= @user.first_name %> <%= @user.last_name %></h3>
<h5>About me:</h5><p><%= @user.about %></p>
<img src=" <%= @user.image %>"> <br>


<br>
<a href="/hikes/new">Add a Hike</a>
<hr>
<p>Change Your Profile Photo</p>

<form id="up-form">
  <input type="file" multiple /> <br>
  <button type="submit">Upload</button>
<!--   send upload data to Users controller somehow -->
</form>



<hr>
<a href="/users/<%= @user.id %>/edit">Update Information</a>


<!-- <h5>Hikes</h5>
<% @user.hikes.each do |hike| %>
<li>Name<%= hike.name %></li>
<%= link_to "Show", user_hike_path(user_id: @user.id, id: hike.id) %>

<% end %> -->