<h3><%= @user.first_name %> <%= @user.last_name %></h3>
<h5>About me:</h5><p><%= @user.about %></p>
<img src=" <%= @user.image %>"> <br>

<a href="/users/<%= @user.id %>/edit">Update Information</a>
<br>
<a href="/hikes/new">Add a Hike</a>
<hr>
<h3>Upload Photos</h3>

<form id="up-form">
  <input type="file" multiple />
  <button type="submit">Upload</button>
<!--   send upload data to Users controller somehow -->
</form>

<hr>
<h3>Things that will be on this page</h3>
<ul>
	<li>Profile Photo[x]</li>
	<li>About you [x]</li> 
<!-- 	<li>Hikes you've been on</li>
	<li>Upcoming Hikes</li> -->
	<li>Message Board</li>
	<li>Add a hike [x]</li>
</ul>





