<%=form_for  (Hike.new) do |form| %>
	
	Name: <%= form.text_field :name %> <br>
	Location: <%= form.text_field :location %> <br>
	About: <%= form.text_area :description %> <br>
	Image: <%= form.text_field :img_url %> <br> 

	<%= form.submit %>

<% end %>



<!-- <form id="up-form">
  <input type="file" multiple />
  <button type="submit">Upload</button>
</form> -->


