<h1>List of Hikes</h1>
<% @hikes.each do |hike| %>
	<a href="/hikes/<%= hike.id %>"><%= hike.name %></a> <br>
<% end %>

	<% @hikes.each do |hike| %>
	<h2>Hike: <%= hike.name %></h2>
	<h3>Location: <%= hike.location %></h3>
	<p><%= hike.description%></p>
<hr>
	<%= link_to 'View', hike_path(hike.id) %>
  <%= link_to 'Delete', hike, :method => 'delete' %>
<hr>
<% end %>

Search Results

<% if @posts.present? %>
  <%= render @posts %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>