<h3><%= @hike.name %></h3>
<h3><%= @hike.location %></h3>
<p><%= @hike.description %></p>

  <!-- <% @instagram.each do |instagram| %>

    <%= image_tag instagram.images.standard_resolution.url %>

    <% end %> -->

    <div class="pics"> </div>

<div class="show_flex">

<img class="show_img" src=" <%= @hike.img_url %>"> 
<br>
<!-- Photo upload through Ospry -->
<!-- <form id="up-form">
  <input type="file" multiple />
  <button type="submit">Upload</button>
</form> -->

<!-- Google Map div -->
<div style='width: 800px;'>
  <div class= "show_map" id="map" ></div>
</div>

<script type="text/javascript">

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%=@hike.latitude%>,
      "lng": <%=@hike.longitude%>,
      "infowindow": "<%=@hike.latitude%>, <%=@hike.longitude%>"
    }
  ]);

  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(9);
});
</script>
</div>
<!-- Links to list of all hikes -->
<%= link_to 'Back to Hikes', hikes_path(@hikes)%>

<!-- Comments -->
<h3>Leave A Commnet</h3>
<div id="disqus_thread"></div>

<hr>
<% if user_signed_in? %>
<footer> <%= link_to 'Delete This Hike', @hike, :method => 'delete', data: { confirm: 'Are you sure?' } %></footer>
<% end %>