<h3><%= @hike.name %></h3>

<h3><%= @hike.location %></h3>

<p><%= @hike.description %></p>

<img src=" <%= @hike.img_url %>"> 

<br>

!!!!!ADD COMMENT SECTION !!!!!!!!!
<br>
<!-- Links to list of all hikes -->
<%= link_to 'Back to Hikes', hikes_path(@hikes)%>

