<div class="show_info">
  <h3><%= @hike.name %>, <%= @hike.location %></h3>
  <h3></h3>
  <p><%= @hike.description %></p>
</div>

<div class="show_flex">

<img class="show_img" src=" <%= @hike.img_url %>"> 
<br>
<!-- Photo upload through Ospry -->
<!-- <form id="up-form">
  <input type="file" multiple />
  <button type="submit">Upload</button>
</form> -->

<!-- Google Map div -->
<div style='width: 800px;'>
  <div class= "show_map" id="map" ></div>
</div> <!-- ends Google Maps div -->
  <script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
      "lat": <%=@hike.latitude%>,
      "lng": <%=@hike.longitude%>,
      "infowindow": "<%=@hike.latitude%>, <%=@hike.longitude%>"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(9);
  });
  </script>
</div> <!-- ends flex container -->

<!-- Links to list of all hikes -->
<a href="/hikes#hikes_container"><div class="hikes_link">
Explore More Hikes</div></a>



<!-- Comments -->
<% if user_signed_in? %>
<div class="comments">
  <h3>Leave A Commnet</h3>
  <div id="disqus_thread"></div>
</div>

<hr>

<footer> <%= link_to 'Delete This Hike', @hike, :method => 'delete', data: { confirm: 'Are you sure?' } %></footer>

<% else %>

<div class="hike_show_footer">
<h5><a href="/users/sign_in">Log in</a> or <a href="/users/sign_up">sign up</a> to comment on this hike.</a></h5>
</div>







<% end %>