



<h3><%= @hike.name %></h3>

<h3><%= @hike.location %></h3>
<!-- <p><%= @hike.longitude %>, <%= @hike.latitude %></p> -->

<p><%= @hike.description %></p>

<img src=" <%= @hike.img_url %>"> 



<br>

    

<form id="up-form">
  <input type="file" multiple />
  <button type="submit">Upload</button>
</form>


<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%=@hike.latitude%>,
      "lng": <%=@hike.longitude%>,
      // "picture": {
      //   // "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
      //   // "width":  32,
      //   // "height": 32
      // },
      "infowindow": "<%=@hike.latitude%>, <%=@hike.longitude%>"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(9);
});
</script>

<!-- Links to list of all hikes -->
<%= link_to 'Back to Hikes', hikes_path(@hikes)%>

<div id="disqus_thread"></div>






<hr>
<footer> <%= link_to 'Delete This Hike', @hike, :method => 'delete', data: { confirm: 'Are you sure?' } %></footer>